<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">
            GuiaPress
        </a>

        <ul class="navbar-nav me-auto   ">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
        </ul>

    </div>
</nav>