<nav class="navbar navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">
            GuiaPress
        </a>

        <ul class="navbar-nav me-auto   ">
            <li class="nav-item">
                <a class="nav-link" href="/admin/categories">Categorias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/articles/new">Artigo</a>
            </li>
        </ul>

    </div>
</nav>